.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-width: 100vw;
    position: sticky;
    top: 0px;
}
.logo{
    max-width: 25vw;
    max-height: 25vh;
    align-self: center;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    font-size: larger;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.root{
    min-height: 100vh;
}
.footer{
    text-align: center;
    font-size: larger;
}
header{
    font-size: xx-large;
}
section{
    max-width: 40vw;
    padding: 20px;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}