.img{
    width: 20vw;
    height: 40vh;
    align-self: center;
}
.plant{
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-height: 50vh;
    padding-bottom: 50px;
}
.names{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.imgAndDetails{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.details{
    display: flex;
    flex-direction: column;
}
.h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}
.h3{
    text-align: center;
    padding: 0;
    margin: 0;
    font-style: italic;
}